// ========== base ========== //
$color-main: #222;

// ========== background ========== //
$color-bg: #f7f7f7;
$color-bg-sub: #e6e6e6;
$color-bg-nav: #222;
$color-bg-header: #fff;
$color-bg-section: #fff;
$color-bg-footer: #fff;

// ========== text ========== //
$color-title: #222;
$color-text: #333;
$color-text-sub: #666;

// ========== button ========== //
$color-button: #222;

// ========== link ========== //
$color-link: #0366d7;

// ========== opacity ========== //
$opacity: 0.6;

// ========== marker ========== //
$color-marker: linear-gradient(transparent 80%, #f00 20%);

// ========== form-border ========== //
$color-form-border: 1px solid #ddd;

// ========== section-border ========== //
$color-section-border: 1px solid #eee;

// ========== etc ========== //
$color-attention: #dc4e41;
